<p>This is an important message from the Coffin app about
<%= @user.first_name %> <%= @user.last_name %>.  <%= @user.first_name %>
has added you as a trusted contact.  In the event that <%= @user.first_name %>
passes away, you will receive another email from the Coffin app.  In this email
there will be a link that you can click on.  This link will then give you access
to all of <%= @user.first_name %>'s sensitive documents, such as wills, life
insurance policies, final wishes, and so forth.</p>
