<!-- app/views/users/show.html.erb -->

<section class="contacts">
  <h3>Contacts</h3>
  <% if @contacts.empty? %>
    <p>You haven't added any contacts yet.</p>
  <% else %>
  <ul>
    <% @contacts.each do |contact| %>
      <li><%= contact.first_name %> <%= contact.last_name %></li>
    <% end %>
  </ul>
  <% end %>
  <%= link_to 'Add A Contact', new_profile_contact_path %>
</section>

  <%= form_tag dead_man_switch_index_path, method: :post do  %>
    <%= label_tag :dead_man_switch %>
    <%= select_tag :interval, options_for_select(intervals) %>

    <%= number_field_tag 'quantity', nil, min: 1 %>
    <%= submit_tag "Save" %>
  <% end %>
