<!-- app/views/users/show.html.erb -->
<%= link_to 'Upload Files', extra_info_path(current_user) %>
</br>
</br>
<section class="profile-box">
  <h3>Dead Man Switch Timer</h3>
  <%= form_tag dead_man_switch_index_path, method: :post do  %>
  <%= label_tag :dead_man_switch %>
  <%= select_tag :interval, options_for_select(intervals) %>

  <%= number_field_tag 'quantity', nil, min: 1 %>
  <%= submit_tag "Save" %>
  <% end %>
</section>
</br>
<section class="profile-box">
  <h3>Contacts</h3>
  <% if @user.contacts.empty? %>
    <p>You haven't added any contacts yet.<br/>
    Add one using the link below and they'll be notified if your Dead Man Switch Timer expires.</p>
  <% else %>
  <ul>
    <% @user.contacts.each do |contact| %>
      <li><%= contact.first_name %> <%= contact.last_name %></li>
    <% end %>
  </ul>
  <% end %>
  <%= link_to 'Add A Contact', new_profile_contact_path %>
</section>
</br>
<section class="funeral-box">
  <h3>Funeral Arrangements</h3>
  <% if @user.funeral.nil? %>
    <p>You made any funeral arrangements yet.<br/>
    Add your arrangements in the link below.</p>
    <%= link_to 'Add Funeral Arrangement', new_user_funeral_path(@user) %>
  <% else %>
    <ul>
      <p>You have set arrangements with <%= @user.funeral.funeral_home_name %></br>
      </p>
  </ul>
  <%= link_to 'Update your Funeral Arrangement', new_user_funeral_path(@user) %>
  <% end %>
</section>

</br>
<section class='update-profile'>
<h3>Update Profile</h3>
    <%= form_for(@user) do |f| %>
    <p>Organ Donor
      <%= f.radio_button :organ_donor, 'true' %>
      <%= f.label :organ_donor, 'Yes', :value => 'true' %>

      <%= f.radio_button :organ_donor, 'false' %>
      <%= f.label :organ_donor, 'No', :value => 'false' %>
    </p>

      <%= f.label :place_of_birth %>
      <%= f.text_field :place_of_birth %>
    </br>

      <%= f.label :maiden_name %>
      <%= f.text_field :maiden_name %>
    </br>
      <%= f.submit "Update" %>

    <% end %>

    <!-- <input type="checkbox" checked data-toggle="toggle"> -->


</section>
