<h2><%= @user.first_name %>'s Extra Information</h2>
<p>The information you upload here will be made available for download to your primary contact when you inevitably bite the dust</p>

<section class='misc_files'>
<h2>Miscellaneous Files: (<%= @user.misc_files.attachments.count %>)</h2>
  <ul>
    <% if @user.misc_files.attached? %>
      <% @user.misc_files.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
      <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload File:</label> <%= file_field_tag :misc_files %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>

<section class='will'>
<h2>Will: (<%= @user.wills.attachments.count %>)</h2>
  <ul>
    <% if @user.wills.attached? %>
      <% @user.wills.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
    <% end %>
    <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload Will:</label><%= file_field_tag :wills %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>

<section class='poa'>
<h2>Power Of Attorney: (<%= @user.powers_of_attorney.attachments.count %>)</h2>
  <ul>
    <% if @user.powers_of_attorney.attached? %>
      <% @user.powers_of_attorney.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
    <% end %>
    <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload Power Of Attorney:</label> <%= file_field_tag :powers_of_attorney %>
      <%= submit_tag %>
  <% end %>
  </ul>
</section>

<section class='birth_certificate'>
<h2>Birth Certificate: (<%= @user.birth_certificates.attachments.count %> )</h2>
  <ul>
    <% if @user.birth_certificates.attached? %>
        <% @user.birth_certificates.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
    <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload Birth Certificate:</label> <%= file_field_tag :birth_certificates %>
        <%= submit_tag %>
      <% end %>
  </ul>
</section>

<section class='finance_records'>
<h2>Financial Records: (<%= @user.finance_records.attachments.count %>)</h2>
  <ul>
    <% if @user.finance_records.attached? %>
    <p>You have <%= @user.finance_records.attachments.count %> financial files uploaded</p>
      <% @user.finance_records.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
      <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Financial Record File:</label> <%= file_field_tag :finance_records %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>

<section class='va_benefits'>
<h2>Veterans Benefits: (<%= @user.va_benefits.attachments.count %>)</h2>
  <ul>
    <% if @user.va_benefits.attached? %>
      <% @user.va_benefits.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
      <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload VA Information:</label> <%= file_field_tag :va_benefits %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>

<section class='employment_info'>
<h3>Employment Information: (<%= @user.employment_info.attachments.count %>)</h3>
  <ul>
    <% if @user.employment_info.attached? %>
      <% @user.employment_info.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
      <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload Employment Information:</label> <%= file_field_tag :employment_info %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>

<section class='life_insurance'>
<h3>Life Insurance Information: (<%= @user.life_insurance.attachments.count %>)</h3>
  <ul>
    <% if @user.life_insurance.attached? %>
      <% @user.life_insurance.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
      <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload Life Insurance Information:</label> <%= file_field_tag :life_insurance %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>

<section class='ss_info'>
<h3>Social Security Information: (<%= @user.ss_info.attachments.count %>)</h3>
  <ul>
    <% if @user.ss_info.attached? %>
      <% @user.ss_info.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
      <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload Social Security Information:</label> <%= file_field_tag :ss_info %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>



