<h2><%= @user.first_name %>'s Extra Information</h2>
<p>The information you upload here will be made available for download to your primary contact when you inevitably bite the dust</p>

<section class='misc_files'>
<h2>Miscellaneous Files:</h2>
  <ul>
    <% if @user.misc_files.attached? %>
    <p>You have <%= @user.misc_files.attachments.count %> files uploaded</p>
      <% @user.misc_files.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
      <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload File:</label> <%= file_field_tag :misc_files %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>

<section class='will'>
<h2>Will:</h2>
  <ul>
    <% if @user.wills.attached? %>
    <p>You have <%= @user.wills.attachments.count %> wills uploaded</p>
      <% @user.wills.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
    <% end %>
    <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload Will:</label><%= file_field_tag :wills %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>

<section class='poa'>
<h2>Power Of Attorney:</h2>
  <ul>
    <% if @user.powers_of_attorney.attached? %>
    <p>You have <%= @user.powers_of_attorney.attachments.count %> power of attorney files uploaded</p>
      <% @user.powers_of_attorney.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
    <% end %>
    <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload Power Of Attorney:</label> <%= file_field_tag :powers_of_attorney %>
      <%= submit_tag %>
  <% end %>
  </ul>
</section>

<section class='birth_certificate'>
<h2>Birth Certificate :</h2>
  <ul>
    <% if @user.birth_certificates.attached? %>
      <p>You have <%= @user.birth_certificates.attachments.count %> Birth Certificates uploaded</p>
        <% @user.birth_certificates.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
    <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload Birth Certificate:</label> <%= file_field_tag :birth_certificates %>
        <%= submit_tag %>
      <% end %>
  </ul>
</section>

<section class='finance_records'>
<h2>Financial Records:</h2>
  <ul>
    <% if @user.finance_records.attached? %>
    <p>You have <%= @user.finance_records.attachments.count %> financial files uploaded</p>
      <% @user.finance_records.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
      <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Financial Record File:</label> <%= file_field_tag :finance_records %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>

<section class='va_benefits'>
<h2>Veterans Benefits:</h2>
  <ul>
    <% if @user.va_benefits.attached? %>
    <p>You have <%= @user.va_benefits.attachments.count %> files uploaded</p>
      <% @user.va_benefits.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
      <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload VA Information:</label> <%= file_field_tag :va_benefits %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>

<section class='va_benefits'>
<h2>Veterans Benefits:</h2>
  <ul>
    <% if @user.va_benefits.attached? %>
    <p>You have <%= @user.va_benefits.attachments.count %> files uploaded</p>
      <% @user.va_benefits.attachments.each do |attachment| %>
      <li><%= link_to attachment.blob[:filename] , rails_blob_path(attachment, disposition: "attachment") %></li>
      <% end %>
      <% end %>
      <%= form_tag update_info_path, method: :put, multipart: :true do %>
      <label for="file">Upload VA Information:</label> <%= file_field_tag :va_benefits %>
      <%= submit_tag %>
    <% end %>
  </ul>
</section>



