<!DOCTYPE html>
<html>
  <head>
    <title>Coffin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <section class='nav_bar_links'>
    <%= link_to 'Login'%>
    <%= link_to 'Create Account'%>
    <%= link_to 'About', about_path%>
    <%= link_to 'Home', root_path%>
  </section>
    <%= yield %>
  </body>
</html>
